
<div ng-controller="homeCtrl">
<div class="homeWrap">
<h2>Recipes</h2>
<accordion close-others="oneAtATime">
    <div class="accHead">
    <accordion-group is-open="status.open" ng-repeat="recipe in posts">

      <accordion-heading>
        {{recipe.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      <h2>Ingredients:</h2>
      <div ng-repeat="ingredient in recipe.ingredients">
        <div ng-hide="editIngredient">
          {{ingredient.amount}} {{ingredient.type}} {{ingredient.name}}
          <button ng-click="editIngredient = true">Edit</button>
        </div>
        <form ng-show="editIngredient" ng-submit="editIngredient = false">
          <input type="text" ng-model="ingredient.amount">
          <input type="text" ng-model="ingredient.type">
          <input type="text" ng-model="ingredient.name">
          <button type="submit">Submit</button>
        </form>
      </div>
      <h2>Directions:</h2>
      <div class="directions" ng-hide="editDirections">
        {{recipe.directions}}
        <button ng-click="editDirections = true">Edit Directions</button>
      </div>
      <form ng-show="editDirections" ng-submit="editDirections = false">
        <textarea name="" id="" cols="100" rows="10" ng-model="recipe.directions">{{recipe.directions}}</textarea>
        <button type="submit">Submit</button>
      </form>
      <div>
        <button class="homeButtons" ng-click="addToGrocery($index)" ng-disabled="disabled">Add</button>
        <button class="homeButtons" ng-click="deleteRecipe($index)">Delete</button>
      </div>




    </accordion-group>
    </div>
  </accordion>







</div>
</div>
