<div ng-controller="homeCtrl">
<div class="container">
<div class="homeWrap">


<h2><span><input type="text" placeholder="Search Recipes" ng-model="recipe.title"></span> </h2>
<accordion close-others="oneAtATime">
    <div class="accHead">
    <accordion-group is-open="status.open" ng-repeat="recipe in posts | filter: recipe.title">

      <accordion-heading>
        {{recipe.title}}  <i id="hidden" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      <h2>Ingredients:</h2>
      <div class="serveNum" ng-hide="editServe">
        Serves:{{recipe.serves}}
        <button ng-click="editServe = true">Change servings</button>
      </div>
      <form ng-show="editServe" ng-submit="editServe = false">
        <textarea name="" id="" cols="1" rows="1" ng-model="recipe.serves">{{recipe.serves}}</textarea>
        <br><button type="submit">Submit</button>
      </form>

      <div ng-repeat="ingredient in recipe.ingredients">
        <div ng-hide="editIngredient">
        <i ng-click="editIngredient = true" class="fa fa-pencil-square-o edit"></i>
          {{ingredient.amount * recipe.serves}} {{ingredient.type}} {{ingredient.name}}

        </div>
        <form ng-show="editIngredient" ng-submit="editIngredient = false">
          <input type="text" ng-model="ingredient.amount" placeholder="Amount">
          <input type="text" ng-model="ingredient.type" placeholder="Measurement Type">
          <input type="text" ng-model="ingredient.name" placeholder="Ingredient">
          <button type="submit">Submit</button>
        </form>
      </div>
      <h2>Directions:</h2>
      <div class="directions" ng-hide="editDirections">
        {{recipe.directions}}<br>
        <button ng-click="editDirections = true">Edit Directions</button>
        <button ng-class="class" ng-click="addToGrocery($index); changeClass()" ng-disabled="disabled">
            <i class="fa fa-plus add"></i>
        </button>
        <button ng-click="deleteRecipe($index)">
            <i class="fa fa-bomb del"></i>
        </button>
      </div>

      <form ng-show="editDirections" ng-submit="editDirections = false">
        <textarea name="" id="" cols="100" rows="10" ng-model="recipe.directions">{{recipe.directions}}</textarea>
        <br><button type="submit">Submit</button>
      </form>




    </accordion-group>
    </div>
  </accordion>







</div>
</div>
</div>
