<h2>Add a new recipe:</h2>
<section>
<form action="">
  <h3>Title:</h3>
  <input type="text" ng-model="newRecipe.title">
  <h3>Ingredients:</h3>
  <input type="text" ng-model="newRecipe.ingredient.mesNumber" placeholder="1/2">
  <select>
    <option ng-model="newRecipe.ingredient.mesType" value="cup">Cups</option>
    <option ng-model="newRecipe.ingredient.mesType" value="tbsp">Tablespoons</option>
    <option ng-model="newRecipe.ingredient.mesType" value="tsp">Teaspoons</option>
    <option ng-model="newRecipe.ingredient.mesType" value="pints">Pints</option>
    <option ng-model="newRecipe.ingredient.mesType" value="qts">Quarts</option>
    <option ng-model="newRecipe.ingredient.mesType" value="gallons">Gallons</option>
  </select>
  <input type="text" placeholder="Ingredient" ng-model="newRecipe.ingredient.type">
  <button ng-click="addIngredient(newRecipe.ingredient)">Add</button>
  <h3>Instructions:</h3>
  <textarea ng-model="newRecipe.instructions" name="" id="" cols="30" rows="10">Instructions</textarea>
  <button type="submit">Finish Recipe</button>

</form>
</section>
<aside>

  <h2>Recipe Preview:</h2>
  <h3>{{newRecipe.title}}</h3>
  <ul>
    <li>{{newRecipe.ingredient.mesNumber}} {{newRecipe.ingredient.mesType}} {{newRecipe.ingredient.type}}</li>
  </ul>
  <p>{{newRecipe.instructions}}</p>


</aside>
