///////////////////////////START HOME

html, body {
    height:100%;
    background-image:url("../images/bg.png");
    background-size:cover;
    background-repeat:no-repeat;
}


h2, h3 {
    color:white;
}

header {
    width:100%;
    text-align:center;
}

button {
    transition:all .5 ease;
    border-radius:5px;
    color:white;
    margin:4px;
    background-color:rgba(255,255,255,.001);
}

button:hover {
    background-color:rgba(200,200,200,1)
}

img.bg {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
  }



 #homeLogo {
     opacity:.8;
     max-width:350px;
     height:auto;
 }

 #homeLogo:hover {
     opacity:1;
 }


 .fa {
     font-size:3em;
     color:white;
     margin: 0px; margin-top: 5px; margin-right:5px;
     opacity:.6;
     text-align:right;
     transition:opacity .3s ease-in-out;
 }

 .fa:hover {
     opacity:1;
 }


 .accHead {
     overflow:auto;
     color:black;
     border:none;
     .panel {
        background-color:rgba(255,255,255,.4);
        .panel-heading {
            background-color:rgba(255,255,255,.7);

        }
     }
 }

 .homeWrap{
     font-size:1.2em;
     margin:10%;
     margin-top:10%;
     height:340px;
     overflow:auto;
 }
////////////////////////////////END HOME

.groceryWrap{
  background-color:rgba(104,92,97,.7);
  border:1px solid white;
  border-radius:10px;
  color:white;
  font-family: 'Cutive', serif;
}


////////////////////////////////ADD RECIPE

.addWrap {
    width:100%;
    height:60%;
    margin:10px;
    overflow:auto;

}

section {
    display:inline-block;
    width:49%;
    background-color:rgba(0,0,0,.4);
    padding:10px;
    ul {
        color:white;
    }
    h2 {
        text-decoration:underline;
    }
    h3 {
        font-weight:lighter;
    }
}

aside {
    display:inline-block;
    width:49%;
    background-color:rgba(0,0,0,.4);
    vertical-align:top;
    padding:10px;
    h2 {
        text-decoration:underline;
    }
    h3 {
        font-weight:lighter;
    }
    ul {
        color:white;
    }
    .directions {
        color:white;
        font-size:1.2em;
    }
}

input, textarea {
    background-color:rgba(0,0,0,.6);
    border:none; border-bottom:1px white solid;
    color:white;
}

select {
    background-color:rgba(255,255,255,.001);
    color:white;
}

////////////////////////////END ADDRECIPE
