body {
  margin: 0;
  padding: 0;
  background-color: #7BB7AD; }

header {
  background-color: #D26F46;
  padding: 1% 2%; }
  header span {
    float: right;
    font-size: 2.5em;
    margin: 0;
    padding: 0; }
  header a {
    color: #EAF3C4; }
  header h1 {
    color: #EAF3C4;
    display: inline-block;
    margin: 0;
    padding: 0; }

img.bg {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }
